body {
  font-family: Arial;
  background: #0b1120;
  color: white;
  margin: 0;
}

.sidebar {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #111827;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #00f5ff;
  color: black;
}

.content {
  margin-left: 260px;
  padding: 30px;
}

section {
  margin-bottom: 40px;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 10px;
}

.logo {
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
  background: white;
  border-radius: 6px;
  padding: 3px;
}

.quiz-box button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: #00f5ff;
  cursor: pointer;
}

.certa { background: #00ff88 !important; }
.errada { background: #ff3b3b !important; }

@media(max-width:768px){
  .sidebar{
    position: relative;
    width: 100%;
  }
  .content{
    margin-left: 0;
  }
}
